<a id='py_i'></a>
## Part 2: Python Iterations, Control Flow, and Functions

- `if…elif…else` statements
- `for` and `while` loops
- Error handling with `try` and `except`
- Functions

We've gone over how data can exist within the Python language. Now let's look at the core ways of interacting with it.

<a id='if_else_statements'></a>

# `if…else` Statements

In [1]:
weight = 70

In [2]:
if weight > 50:
    print('Suitcase is over 50 pounds')
else:
    print('Suitcase is under 50 pounds')

Suitcase is over 50 pounds

In [3]:
you_are_strong = True

In [4]:
if weight > 50:
    if you_are_strong:
        print('Suitcase is heavy, but you can handle it.')
    else:
        print("Suitcase is too heavy for you.")
else:
        print('Suitcase is not heavy.')

Suitcase is heavy, but you can handle it.

# Exercise: Write an `if…else` statement for multiple conditions.

Print out these recommendations based on the weather conditions:

1. The temperature is higher than 60 degrees and it is raining: Bring an umbrella.
2. The temperature is lower than or equal to 60 degrees and it is raining: Bring an umbrella and a jacket.
3. The temperature is higher than 60 degrees and the sun is shining: Wear a T-shirt.
4. The temperature is lower than or equal to 60 degrees and the sun is shining: Bring a jacket.

**Instructions**

Form groups of three. For each exercise, if you don't know what to do, ask for help within your group first. If that doesn't solve the problem, then slack Donnie or Joaquin. If you think you have an answer, test it and run it by your group. When the whole group agrees on a solution, post it to Slack in a thread.

Let's allow five minutes initially.

Be resourceful! You might need to use some Google-fu to find methods that we have not covered. Try to search for the basic building blocks you need for a solution that you develop, rather than searching for a full solution.

In [5]:
temperature = 70
weather = 'rain'

In [6]:
if temperature > 60:
    if weather == 'rain':
        print('bring an umbrella')
    elif weather == 'shine':
        print('wear a t-shirt')
else:
    if weather == 'rain':
        print('bring an umbrella and a jacket')
    else:
        print('bring a jacket')

bring an umbrella

# `for` Loops

Pseudocode:

```python
# For each individual object in the list
    # perform task_A on said object.
    # Once task_A has been completed, move to next object in the list.
```

One of the main purposes of programming is to automate repetitive tasks.

The `for` loop allows you to perform a repetitive task on every element within an object, such as every every name in a list.

Let's say we wanted to print each of the names in the list, as well as "Is Awesome!"

In [7]:
names = ['Alex','Brian', 'Catherine']

for name in names:
    print(name + ' Is Awesome!')

Alex Is Awesome!
Brian Is Awesome!
Catherine Is Awesome!

This process of cycling through a list item by item is known as "iteration".

# Exercise: Write a `for` loop that iterates from number 1 to number 15.

Print out the number on each iteration, like so:

```
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6
Iteration: 7
Iteration: 8
Iteration: 9
Iteration: 10
Iteration: 11
Iteration: 12
Iteration: 13
Iteration: 14
Iteration: 15
```

In [8]:
for i in range(1, 16):
    print('Iteration:', i)

Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6
Iteration: 7
Iteration: 8
Iteration: 9
Iteration: 10
Iteration: 11
Iteration: 12
Iteration: 13
Iteration: 14
Iteration: 15

# Exercise: Iterate from 1 to 15, printing whether the number is odd or even.

Like so:

1 odd

2 even

3 odd

4 even

5 odd

6 even

7 odd

8 even

9 odd

10 even

11 odd

12 even

13 odd

14 even

15 odd

Hint: The modulus operator, `%`, can be used to take the remainder. For example:

```python
9 % 5 == 4
```

Or, in other words, the remainder of dividing 9 by 5 is 4.

In [9]:
for i in range(1, 16):
    if i % 2 == 0:
        print(i, 'even')
    else:
        print(i, 'odd')

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd

# Exercise: Iterate from 1 to 30 with the following instructions:

1. If a number is divisible by 3, print "fizz". 
2. If a number is divisible by 5, print "buzz". 
3. If a number is both divisible by 3 and 5 print "fizzbuzz".
4. Otherwise, print just the number.

In [10]:
for i in range(1, 31):
    if (i % 3 == 0) and (i % 5 == 0):
        print('fizzbuzz')
    elif i % 3 == 0:
        print('fizz')
    elif i % 5 == 0:
        print('buzz')
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

Remember this example. It's a common interview question to weed out people who haven't learned the basics of programming.

# Iterate through the following list of animals, and print each one in all caps.

In [11]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

for animal in animals:
    print(animal.upper())

DUCK
RAT
BOAR
SLUG
MAMMOTH
GAZELLE

# Exercise: Create a new list consisting of the items in `animals`, but with the first letter of each animal's name capitalized.

Hint: use `.capitalize()`

In [12]:
cap_animals = []
for animal in animals:
#     cap_animal = animal[0].upper() + animal[1:]
    cap_animal = animal.capitalize()
    cap_animals.append(cap_animal)
print(cap_animals)

['Duck', 'Rat', 'Boar', 'Slug', 'Mammoth', 'Gazelle']

# Exercise: Iterate through the animals. Print out the animal name and the number of vowels in the name.

Hints:

- You may need to create a variable of vowels for comparison.
- Make sure you can handle any combination of capital and lowercase letters! The `.lower()` method might be useful.

In [13]:
vowels = 'aeiou'
for animal in animals:
    vowel_count = 0
    for character in animal.lower():
        if character in vowels:
            vowel_count += 1
    print(animal, vowel_count)

duck 1
rat 1
boar 2
slug 1
mammoth 2
gazelle 3

# Functions

Pseudocode:

```python
# Define the function name and the requirements it needs.
    # Perform actions.
    # Optional: Return output.
```

We have seen several functions that are built into Python, such as `len` and `range`. You can also create your own functions.

Two benefits of creating your own functions:

- Reusability
- Readability

Which of these pieces of code would you rather write and read?

```python
count_vowels('aardvark')
```

---

```python
vowels = 'aeiou'
vowel_count = 0
for char in 'aardvark':
    if character in vowels:
        vowel_count += 1
print(vowel_count)
```

In [14]:
def product_plus_one(num1, num2):
    product = num1 * num2
    return product + 1

product_plus_one(3, 5)

16

The value of the `return` statement determines what your function evaluates to when you call it. Don't confuse it with printing -- Jupyter displays the return value in this case only because it always displays the value of the last expression it evaluates in a cell.

In [15]:
product_plus_one(4, 10)

41

Now we have a clearly named function that we can apply to whatever numerical arguments we want.

# Exercise: Wrap your vowel-counting code in a function called `count_vowels`.

In [16]:
def count_vowels(string):
    vowels = 'aeiou'
    vowel_count = 0
    for char in string.lower():
        if char in vowels:
            vowel_count += 1
    return vowel_count

print(count_vowels('hello'))
print(count_vowels('specialist'))
print(count_vowels('insanely'))

2
4
3

# Exercise: Write a function to calculate the area of a triangle using a height and width.

In [17]:
def triangle_area(width, height):
    return 0.5*width*height

print(triangle_area(10, 5))
print(triangle_area(5, 23))

25.0
57.5

# `while` Loops

Pseudocode:

```python
# A threshold or criteria is set.
    # As long as the threshold or criteria isn't met,
    # perform a task.
    # Check threshold/criteria.
        # If threshold/criteria is met or exceed,
            # break loop.
        # If not, repeat.
    
```

`while` loops are a different means of performing repetitive tasks/iteration. The function of a `for` loop is to perform tasks over a _finite collection_. The function of a `while` loop is to perform a repetitive task until a _specific threshold or criteria is met_.

In [18]:
x = 0
while x < 10:
    print(x)
    x = x+1

0
1
2
3
4
5
6
7
8
9

# Caution

```python
x = 0
While x < 10:
    print(x)
```

What would happen if you ran this code?

# Exercise: Use `while` loops and strings.

Iterate over the following sentence repeatedly, counting the number of vowels in the sentence until you have tallied 1 million. (Use the vowel counting function you defined above!) Print out the number of iterations it took to reach that amount.

In [19]:
sentence = """A MAN KNOCKED ON MY DOOR AND ASKED FOR A SMALL DONATION TOWARDS THE LOCAL
              SWIMMING POOL SO I GAVE HIM A GLASS OF WATER"""

In [20]:
iterations = 0
vowels = 0
while True:
    iterations += 1
    vowels += count_vowels(sentence)
    if vowels >= 1000000:
        break
print('iterations:', iterations)
print('vowels:', vowels)

iterations: 27778
vowels: 1000008

# try...except

Pseudocode:

```python
# Try to do something
# If you get a specific failure, do something else.
```

In [21]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [22]:
cleaned = []
for item in corrupted:
    try:
        cleaned.append(float(item))
    except ValueError:
        pass
print(cleaned)

[23.1, 0.12, -11.1, 1000.0]

In [23]:
cleaned = []
for item in corrupted:
    try:
        cleaned.append(float(item))
    except: # don't do this
        pass
print(cleaned)

[23.1, 0.12, -11.1, 1000.0]

# Exercise: Calculate the average a list of numbers, skipping `None`s.

Hints:
- Create variables `total = 0` and `count = 0`, update their values appropriately as you iterate through the list, and then calculate the average as `total / count`.
- You should get 63.8

In [24]:
nums = [12, 84, None, 17, 63, None, 143]

In [25]:
total = 0
count = 0
for num in nums:
    try:
        total += num
        count += 1
    except TypeError:
        pass

print(total / count)

63.8

# Practice Control Flow on Coffee Preference Data Set

In [26]:
with open('../assets/datasets/coffee-preferences.csv','r') as f:
    lines = f.readlines()

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write"), and assigns this opened file to `f`. 

We can then use the `.readlines()` built-in function to split the csv file on newlines and assign it to the variable `lines`.

In [27]:
for line in lines:
    print(line)

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,

In [28]:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

# Exercise: Remove the newline `'\n'` character from the end of each line and store the result in a new list `cleaned_lines`.

Iterate through the lines of the data and remove the unwanted newline characters.

_Hint: Use **.replace('\n', '')**_

In [29]:
cleaned_lines = []
for l in lines:
    cleaned_lines.append(l.replace('\n',''))
cleaned_lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

# Exercise: Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains the column names of our data.

In [30]:
header = cleaned_lines[0]
data = cleaned_lines[1:]

# Split the header and the data strings on commas. Store the results in `split_header` and `split_data`, respectively

In [31]:
# split on commas
split_header = header.split(',')
print(header)

split_data = []
for d in data:
    split_data.append(d.split(','))

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

In [32]:
split_data

[['3/17/2015 18:37:58', 'Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['3/17/2015 18:38:09', 'April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['3/17/2015 18:38:25', 'Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['3/17/2015 18:38:28', 'Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['3/17/2015 18:38:46', 'Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['3/17/2015 18:39:01', 'India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['3/17/2015 18:39:01', 'Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['3/17/2015 18:39:05', 'Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['3/17/2015 18:39:14', 'Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['3/17/2015 18:39:23',
  'Hugh Jass',
  '1',
  '5',
  '5',
  '4',
  '5',
  '2',
  '5',
  '4',
  '1'],
 ['3/17/2015 18:39:23', 'Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['3/17/2015 18:39:30', 'Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['3/17/2015 18:39:35',
  'David Feng',
  '2',
  '3',
  '4',
  '2',
  '2',
  '',
  '5',
  '4',
  '3'],
 ['3/17/2015 18:39:42', 'Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['3/17/2015 18:40:44', 'Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['3/17/2015 18:40:49', 'Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['3/17/2015 18:41:18', 'Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['3/17/2015 18:41:23',
  'Alessandro',
  '1',
  '5',
  '3',
  '2',
  '',
  '',
  '4',
  '3',
  ''],
 ['3/17/2015 18:41:35', 'Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['3/17/2015 18:42:01',
  'cheong-tseng eng',
  '3',
  '1',
  '',
  '',
  '',
  '',
  '4',
  '',
  '']]

# Exercise: Remove the "Timestamp" column from both the header and the data. Store the results in `header_no_timestamp` and `data_no_timestamp`.

In [33]:
header_no_timestamp = split_header[1:]
data_no_timestamp = []
for row in split_data:
    data_no_timestamp.append(row[1:])

In [34]:
data_no_timestamp

[['Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['Hugh Jass', '1', '5', '5', '4', '5', '2', '5', '4', '1'],
 ['Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'],
 ['Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''],
 ['Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['cheong-tseng eng', '3', '1', '', '', '', '', '4', '', '']]

# Exercise: Convert numeric columns to floats and empty fields to None. Store the results in a list `data_numeric`.

Iterate through the data, and construct a new data list of lists that contains the numeric ratings converted from strings into floats and the empty fields (which are empty strings '') replaced with the None object.

Use a nested for loop (a for loop within another for loop) to get the job done. You will likely need to use if…else conditional statements as well.

Print out the new data object to make sure you've succeeded.

In [35]:
data_numeric = []
for row in data_no_timestamp:
    new_row = []
    for i, col in enumerate(row):
        if i == 0:
            new_row.append(col)
        else:
            if col == '':
                new_row.append(None)
            else:
                new_row.append(float(col))
    data_numeric.append(new_row)
    
data_numeric

[['Alison', 3.0, 5.0, 4.0, 3.0, None, None, 5.0, 5.0, None],
 ['April', 4.0, 5.0, 5.0, 3.0, None, None, 3.0, None, 5.0],
 ['Vijay', 3.0, 5.0, 5.0, 5.0, 3.0, 2.0, 1.0, 1.0, 1.0],
 ['Vanessa', 1.0, 5.0, 5.0, 2.0, None, None, 3.0, 2.0, 3.0],
 ['Isabel', 1.0, 4.0, 4.0, 2.0, 4.0, None, 4.0, 4.0, None],
 ['India', 5.0, 3.0, 3.0, 3.0, 3.0, 1.0, None, None, 3.0],
 ['Dave H', 4.0, 5.0, None, 5.0, None, None, None, None, None],
 ['Deepthi', 3.0, 5.0, None, 2.0, None, None, None, None, 2.0],
 ['Ramesh', 3.0, 4.0, None, 3.0, None, None, None, None, 4.0],
 ['Hugh Jass', 1.0, 5.0, 5.0, 4.0, 5.0, 2.0, 5.0, 4.0, 1.0],
 ['Alex', 4.0, 5.0, None, 3.0, None, None, None, None, None],
 ['Ajay Anand', 3.0, 4.0, 4.0, 3.0, 5.0, None, None, None, None],
 ['David Feng', 2.0, 3.0, 4.0, 2.0, 2.0, None, 5.0, 4.0, 3.0],
 ['Zach', 3.0, 4.0, 4.0, 3.0, None, None, None, None, 5.0],
 ['Matt', 3.0, 5.0, 4.0, 3.0, 2.0, 2.0, 4.0, 3.0, 2.0],
 ['Markus', 3.0, 5.0, None, 3.0, None, None, 4.0, None, None],
 ['Otto', 4.0, 2.0, 2.0, 5.0, None, None, 3.0, 3.0, 3.0],
 ['Alessandro', 1.0, 5.0, 3.0, 2.0, None, None, 4.0, 3.0, None],
 ['Rocky', 3.0, 5.0, 4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0],
 ['cheong-tseng eng', 3.0, 1.0, None, None, None, None, 4.0, None, None]]

# Exercise: Count the `None` values per person, and put counts in a dictionary.

Use a `for` loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys, and the counts of `None` as values.

Who rated the most coffee brands? Who rated the fewest?

In [36]:
user_nones = {}
for row in data_numeric:
    nones = 0
    for cell in row:
        if cell == None:
            nones += 1
    user_nones[row[0]] = nones

user_nones

# Least: Alex, Dave H, cheong-tseng eng
# Most: Hugh Jass, Matt, Rocky, Vijay

{'Ajay Anand': 4,
 'Alessandro': 3,
 'Alex': 6,
 'Alison': 3,
 'April': 3,
 'Dave H': 6,
 'David Feng': 1,
 'Deepthi': 5,
 'Hugh Jass': 0,
 'India': 2,
 'Isabel': 2,
 'Markus': 5,
 'Matt': 0,
 'Otto': 2,
 'Ramesh': 5,
 'Rocky': 0,
 'Vanessa': 2,
 'Vijay': 0,
 'Zach': 4,
 'cheong-tseng eng': 6}

# Exercise: Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with keys as the coffee brand names, and their average rating as the values.

Remember that the average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = sum(ratings_list)/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [37]:
brand_ratings = {}
for brand in header_no_timestamp[1:]:
    brand_ratings[brand] = []

for row in data_numeric:
    for column_num, rating in enumerate(row):
        if column_num > 0 and rating is not None:
            brand_ratings[header_no_timestamp[column_num]].append(rating)

brand_avg_ratings = {}
for brand, ratings in brand_ratings.items():
    print(brand, ratings)
    brand_avg_ratings[brand] = sum(ratings)/len(ratings)
    
brand_avg_ratings

Starbucks [3.0, 4.0, 3.0, 1.0, 1.0, 5.0, 4.0, 3.0, 3.0, 1.0, 4.0, 3.0, 2.0, 3.0, 3.0, 3.0, 4.0, 1.0, 3.0, 3.0]
PhilzCoffee [5.0, 5.0, 5.0, 5.0, 4.0, 3.0, 5.0, 5.0, 4.0, 5.0, 5.0, 4.0, 3.0, 4.0, 5.0, 5.0, 2.0, 5.0, 5.0, 1.0]
BlueBottleCoffee [4.0, 5.0, 5.0, 5.0, 4.0, 3.0, 5.0, 4.0, 4.0, 4.0, 4.0, 2.0, 3.0, 4.0]
PeetsTea [3.0, 3.0, 5.0, 2.0, 2.0, 3.0, 5.0, 2.0, 3.0, 4.0, 3.0, 3.0, 2.0, 3.0, 3.0, 3.0, 5.0, 2.0, 3.0]
CaffeTrieste [3.0, 4.0, 3.0, 5.0, 5.0, 2.0, 2.0, 3.0]
GrandCoffee [2.0, 1.0, 2.0, 2.0, 3.0]
RitualCoffee [5.0, 3.0, 1.0, 3.0, 4.0, 5.0, 5.0, 4.0, 4.0, 3.0, 4.0, 4.0, 4.0]
FourBarrel [5.0, 1.0, 2.0, 4.0, 4.0, 4.0, 3.0, 3.0, 3.0, 4.0]
WorkshopCafe [5.0, 1.0, 3.0, 3.0, 2.0, 4.0, 1.0, 3.0, 5.0, 2.0, 3.0, 3.0]

{'BlueBottleCoffee': 4.0,
 'CaffeTrieste': 3.375,
 'FourBarrel': 3.3,
 'GrandCoffee': 2.0,
 'PeetsTea': 3.1052631578947367,
 'PhilzCoffee': 4.25,
 'RitualCoffee': 3.769230769230769,
 'Starbucks': 2.85,
 'WorkshopCafe': 2.9166666666666665}

# Exercise: Create a list containing only the people's names.

In [40]:
people = []
for row in data_numeric:
    people.append(row[0])
    
people

['Alison',
 'April',
 'Vijay',
 'Vanessa',
 'Isabel',
 'India',
 'Dave H',
 'Deepthi',
 'Ramesh',
 'Hugh Jass',
 'Alex',
 'Ajay Anand',
 'David Feng',
 'Zach',
 'Matt',
 'Markus',
 'Otto',
 'Alessandro',
 'Rocky',
 'cheong-tseng eng']

# If you pick three names from this list at random, what are the odds that you will choose the same name three times in a row?

This problem could be solved using probability theory, but let's solve it with a "brute force" approach: have the computer select three names at random over and over again inside a while loop, and count up the results.

Below I've imported the **`random`** package, which has the essential function for this code **`random.choice()`**.
The function takes a list as an argument, and returns one of the elements of that list at random.

This is a "brute force" approach because it is much less efficient for the computer than the relevant probabity calculations, but maybe it requires less thinking for us. It's often a good idea to trade computer time for your time.

In [41]:
import random
# Choose a random person from the list of people:
# random.choice(people)

Write a function to choose a person from the list randomly three times and check if they are all the same.

Define a function that has the following properties:

1. Takes a list (your list of names) as an argument.
2. Selects a name using `random.choice(people)` three separate times.
3. Returns `True` if the name was the same all three times. Otherwise returns `False`.

In [42]:
def choose_three(sequence):
    person1 = random.choice(people)
    person2 = random.choice(people)
    person3 = random.choice(people)
    if person1 == person2 == person3:
        return True
    else:
        return False

# Construct a `while` loop to run the choosing function until it returns `True`.

Run the function until you draw the same person three times using a `while` loop. Keep track of how many tries it took and print out the number of tries after it runs.

In [43]:
tries = 0
chose_same_person = False

while not chose_same_person:
    tries += 1
    same_person = choose_three(people)
    if same_person:
        chose_same_person = True
tries

139


<a name="conclusion"></a>
## Lesson Summary


Let's review what we learned today:

- Discussed why Python is popular for data science.
- Demonstrated variable assignment.
- Defined integers, strings, tuples, lists, and dictionaries.
- Demonstrated arithmetic operations and string operations.
- Reviewed `Python` control flow and conditional programming. 
- Implemented `for` and `while` loops to iterate through data structures.
- Applied `if…else` conditional statements.
- Created functions to perform repetitive actions.
- Demonstrated error-handling using `try, except` statements.
- Combined control flow and conditional statements to solve the classic "FizzBuzz" code challenge.
- Used `Python` control flow and functions to help us parse, clean, edit, and analyze the Coffee Preferences data set.

# Questions?

# Exit tickets

https://docs.google.com/forms/d/e/1FAIpQLSfvZxGW3CHmZzIhNqz-5uzMeDTQHHDOH8G2ovTPbT5U6Q8KLA/viewform?usp=send_form

# Additional Resources

- [Learn Python on Codecademy](https://www.codecademy.com/learn/python)
- [Learn Python the Hard Way](https://learnpythonthehardway.org)
- [Python Datatypes and Variables](http://www.python-course.eu/variables.php)
- [Python IF…ELIF…ELSE Statements](https://www.tutorialspoint.com/python/python_if_else.htm)
- [Python Loops](https://www.tutorialspoint.com/python/python_loops.htm)
- [Python Control Flow](https://python.swaroopch.com/control_flow.html)