In [1]:
3/2

1

In [1]:
v  = 1

In [2]:
v

1

In [3]:
dsi_ga = 'DSI is awesome!'

In [4]:
dsi_ga

'DSI is awesome!'

In [5]:
v
dsi_ga

'DSI is awesome!'

In [6]:
dsi_ga
v

1

In [7]:
print(v)
print(dsi_ga)

1
DSI is awesome!

In [8]:
v == 1

True

In [9]:
v == 2

False

In [10]:
3/2

1.5

In [11]:
x = 1.0
type(x)

float

In [12]:
y = 1

In [13]:
type(y)

int

In [14]:
x == y

True

In [15]:
z = '1'
type(z)

str

In [16]:
x == z

False

In [17]:
1+2

3

In [18]:
1-2

-1

In [19]:
1*2

2

In [20]:
1/2

0.5

In [21]:
2**3

8

In [22]:
#remainder5%2

In [23]:
#remainder
5%2

1

In [24]:
5/2 5%2

SyntaxError: invalid syntax (<ipython-input-24-8e7cbe5bb8bb>, line 1)

In [25]:
4>3

True

In [26]:
4>3 and 100>0

True

In [27]:
4>3 and 2>3

False

In [28]:
[1,2] == [1.0,2.0]

True

In [29]:
[1,2] == [2,1]

False

In [30]:
x_int = 1

In [31]:
x_float = 1.0
type(x_int)
type(x_float)

float

In [32]:
type(x_int)

int

In [33]:
x_int

1

In [34]:
float(x_int)

1.0

In [35]:
x_int_cast = float(x_int)

In [36]:
x_int

1

In [37]:
x_int_cast

1.0

In [38]:
type(x_int)
type(x_int_cast)

float

In [39]:
type(x_int)

int

In [40]:
int(x_float)

1

In [41]:
int(1.999)

1

In [42]:
x_int + .5

1.5

In [43]:
type(x_int + .5)

float

In [44]:
int('1')

1

In [45]:
float('1')

1.0

In [46]:
s = 'Hello world!'

In [47]:
type(s)

str

In [49]:
len(s)

12

In [50]:
s.replace('world','test')

'Hello test!'

In [51]:
'$1'.replace('$',''))

SyntaxError: invalid syntax (<ipython-input-51-561c25592e7c>, line 1)

In [52]:
int('$1'.replace('$',''))

1

In [53]:
s[1]

'e'

In [54]:
s[0:5]

'Hello'

In [55]:
s = 'Hello world'

In [56]:
len(s)

11

In [57]:
'1'+'1'

'11'

In [58]:
'hello'+'world'

'helloworld'

In [64]:
a = 'value: %f'

In [60]:
a

'value: %f'

In [61]:
a % 5

'value: 5.000000'

In [62]:
b = 'value: %i'

In [63]:
b % 6

'value: 6'

In [65]:
c = 'value1: {}'

In [66]:
c.format(7)

'value1: 7'

In [67]:
'value1={}, value2={}'.format(3.14,5)

'value1=3.14, value2=5'

In [68]:
'value1={1}, value2={0}'.format(3.14,5)

'value1=5, value2=3.14'

In [69]:
'Hello ' * 5

'Hello Hello Hello Hello Hello '

In [70]:
numbers = [1,2,3,4]

In [71]:
numbers

[1, 2, 3, 4]

In [72]:
type(numbers)

list

In [73]:
numbers

[1, 2, 3, 4]

In [74]:
names = ['Joseph','Bob','Rick']

In [75]:
names

['Joseph', 'Bob', 'Rick']

In [76]:
my_list = [2, 'potato',[1-2j, 1.]]

In [77]:
# list with mixed types
my_list

[2, 'potato', [(1-2j), 1.0]]

In [78]:
names

['Joseph', 'Bob', 'Rick']

In [79]:
names.append('JOhn')

In [80]:
names

['Joseph', 'Bob', 'Rick', 'JOhn']

In [81]:
numbers[0]

1

In [82]:
numbers

[1, 2, 3, 4]

In [83]:
numbers[1:3]

[2, 3]

In [84]:
numbers[::2]

[1, 3]

In [85]:
names[1][1:]

'ob'

In [86]:
my_list = []

In [87]:
my_list.append('A')

In [88]:
my_list.append('d')

In [89]:
my_list.append('d')

In [90]:
my_list

['A', 'd', 'd']

In [91]:
my_list[1:3] = ['b','c']

In [92]:
my_list

['A', 'b', 'c']

In [93]:
my_string = 'ABC'

In [94]:
my_string[1:3]='yz'

TypeError: 'str' object does not support item assignment

In [95]:
#lists you can slice and assign, strings you cannot -- lists are mutable strings are immutable

In [96]:
my_list

['A', 'b', 'c']

In [97]:
my_list.insert(0,'i')

In [98]:
my_list

['i', 'A', 'b', 'c']

In [99]:
my_list.insert(1, 'n')

In [100]:
my_list

['i', 'n', 'A', 'b', 'c']

In [101]:
my_list.remove('A')

In [102]:
my_list

['i', 'n', 'b', 'c']

In [103]:
del my_list[2]

In [104]:
my_list

['i', 'n', 'c']

In [105]:
[0,1]

[0, 1]

In [106]:
a, b = [0,1]

In [107]:
a

0

In [108]:
b

1

In [109]:
#unpacked list into variables above

In [112]:
list(range(10,20,4)) #start stop and step

[10, 14, 18]

In [113]:
#tuples use parenth instead of brackets like lists and are immutable

In [114]:
point1 = (10,20)

In [115]:
point1

(10, 20)

In [116]:
type(point1)

tuple

In [117]:
point1[0]

10

In [118]:
a,b =point1

In [119]:
a

10

In [120]:
b

20

In [121]:
# can slice and unpack like lists but cannot assign

In [122]:
(10,20)

(10, 20)

In [123]:
[10,20]

[10, 20]

In [124]:
point1[0] = 30

TypeError: 'tuple' object does not support item assignment

In [127]:
params = {'key1': 1.0,
         'key2': 2.0,
         'key3': 3.0
         }

In [128]:
params

{'key1': 1.0, 'key2': 2.0, 'key3': 3.0}

In [129]:
type(params)

dict

In [130]:
params['key2']

2.0

In [132]:
foods = {'monkeys': 'bananas',
        'tigers': 'steak',
        'pandas': 'bamboo'}

In [133]:
foods

{'monkeys': 'bananas', 'pandas': 'bamboo', 'tigers': 'steak'}

In [134]:
foods['pandas']

'bamboo'

In [135]:
#dictionaries are mutable aka changeable

In [136]:
foods['dogs'] = 'peanut butter'

In [137]:
foods

{'dogs': 'peanut butter',
 'monkeys': 'bananas',
 'pandas': 'bamboo',
 'tigers': 'steak'}

In [138]:
foods['dogs'] = 'bacon'

In [139]:
foods

{'dogs': 'bacon', 'monkeys': 'bananas', 'pandas': 'bamboo', 'tigers': 'steak'}

In [140]:
#dictionary values can be any python object

In [141]:
foods['dogs'] = [1, {'a':900}]

In [142]:
foods

{'dogs': [1, {'a': 900}],
 'monkeys': 'bananas',
 'pandas': 'bamboo',
 'tigers': 'steak'}

In [143]:
#but a list cannot be the key of a dictionary

In [145]:
{0,1): 'a', (1,2): 'b'}

SyntaxError: invalid syntax (<ipython-input-145-d2f6397b4ce8>, line 1)

In [146]:
import math
x = math.cos(2 * math.pi)
x

1.0

In [147]:
from math import cos, pi
x = cos(2 * pi)
x

1.0

In [149]:
#generally do not do star import because you will be getting all sorts of stuff you cannot see 
from math import *
x = sin(2 * pi)
x

-2.4492935982947064e-16

In [150]:
help(math.cos)

Help on built-in function cos in module math:

cos(...)
    cos(x)

    Return the cosine of x (measured in radians).

In [151]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.6/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /anaconda3/lib/python3.6/lib-dynload/math.cpython-36m-darwin.so

In [152]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']